#mapwrap{position:relative;overflow:hidden;}

#map{width:100%;height:900px;margin:auto;}

.category, .category *{margin:0;padding:0;color:#000;}
.category {position:absolute;overflow:hidden;top:10px;left:10px;width:200px;height:50px;z-index:5;border:1px solid black;font-family:'Malgun Gothic','���� ���',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
.category .menu_selected {background:#FF5F4A;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;}
.category li{list-style:none;float:left;width:50px;height:45px;padding-top:5px;cursor:pointer;}
.category .ico_comm {display:block;margin:0 auto 2px;width:23px;height:26px;background:url('/image/css_sprites.png') no-repeat;}
.category .ico_burgerking {background-position:-20px -82px;}
.category .ico_store {background-position:-20px -46px;}
.category .ico_lotteria {background-position:-20px -10px;}
.category .ico_mcdonalds {background-position:-66px -10px;}


#burgerKing_score {position:absolute;overflow:hidden;top:70px;left:15px;width:40px;height:75px;z-index:5;border:1px solid black;font-family:'Malgun Gothic','���� ���',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
#burgerKing_score .burgerKing_score {background-color: #e3564d;}

#momsTouch_score {position:absolute;overflow:hidden;top:70px;left:65px;width:40px;height:75px;z-index:5;border:1px solid black;font-family:'Malgun Gothic','���� ���',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
#momsTouch_score .momsTouch_score {background-color: #e3564d;}

#lotteria_score {position:absolute;overflow:hidden;top:70px;left:115px;width:40px;height:75px;z-index:5;border:1px solid black;font-family:'Malgun Gothic','���� ���',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
#lotteria_score .lotteria_score {background-color: #e3564d;}

#mcDonalds_score {position:absolute;overflow:hidden;top:70px;left:165px;width:40px;height:75px;z-index:5;border:1px solid black;font-family:'Malgun Gothic','���� ���',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
#mcDonalds_score .mcDonalds_score {background-color: #e3564d;}
